@import '../../styles/media';
@import '../../styles/variables';
.dashboard-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: $main-bg;
}
.resume-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  // flex-direction: column;
  // &.user-resume-card{
  //   display: flex;

  // }
}
.resume-image-preview {
  min-height: 360px;
  width: 100%;
}

.resume-card-container {
  display: flex;
  justify-content: center;
  min-width: 420px;
  max-width: 720px;
  @include md {
    flex-wrap: wrap;
  }
}

.resume-card {
}
