@import '../../styles/media';
.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.resume-container {
  display: flex;
  gap: 20px;
}
.resume-image-preview {
  min-height: 360px;
  width: 100%;
}

.resume-card-container {
  display: flex;
  justify-content: center;
  min-width: 420px;
  max-width: 720px;
  @include md {
    flex-wrap: wrap;
  }
}

.resume-card {
}
